/* DinTextCompPro-Medium */
@font-face {
  font-family: 'Din Comp';
  src: url('../../assets/fonts/din/DinTextCompPro-Medium.eot');
  src: url('../../assets/fonts/din/DinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/din/DinTextCompPro-Medium.woff') format('woff'),
       url('../../assets/fonts/din/DinTextCompPro-Medium.ttf') format('truetype'),
       url('../../assets/fonts/din/DinTextCompPro-Medium.svg#Din Comp') format('svg');
  font-style: normal;
  font-weight: 600;
}

/* DinTextCompPro-Bold */
@font-face {
  font-family: 'Din Comp';
  src: url('../../assets/fonts/din/DinTextCompPro-Bold.eot');
  src: url('../../assets/fonts/din/DinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/din/DinTextCompPro-Bold.woff') format('woff'),
       url('../../assets/fonts/din/DinTextCompPro-Bold.ttf') format('truetype'),
       url('../../assets/fonts/din/DinTextCompPro-Bold.svg#Din Comp') format('svg');
  font-style: bold;
  font-weight: 700;
}

/* DinTextCondPro-Regular */
@font-face {
  font-family: 'Din Cond';
  src: url('../../assets/fonts/din/DinTextCondPro-Regular.eot');
  src: url('../../assets/fonts/din/DinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/din/DinTextCondPro-Regular.woff') format('woff'),
       url('../../assets/fonts/din/DinTextCondPro-Regular.ttf') format('truetype'),
       url('../../assets/fonts/din/DinTextCondPro-Regular.svg#Din Cond') format('svg');
  font-style: normal;
  font-weight: 400;
}

/* DinTextCondPro-Bold */
@font-face {
  font-family: 'Din Cond';
  src: url('../../assets/fonts/din/DinTextCondPro-Bold.eot');
  src: url('../../assets/fonts/din/DinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/din/DinTextCondPro-Bold.woff') format('woff'),
       url('../../assets/fonts/din/DinTextCondPro-Bold.ttf') format('truetype'),
       url('../../assets/fonts/din/DinTextCondPro-Bold.svg#Din Cond') format('svg');
  font-style: bold;
  font-weight: 700;
}

/* EnglischeSchreibschriftBQ-Bold */
@font-face {
  font-family: 'handwrite';
  src: url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot');
  src: url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.woff') format('woff'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.ttf') format('truetype'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.svg#Din Cond') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'handwrite';
  src: url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot');
  src: url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.woff') format('woff'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.ttf') format('truetype'),
       url('../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.svg#Din Cond') format('svg');
  font-style: bold;
  font-weight: 700;
}
