@import 'settings';
@import 'fonts';


body, html{
  height: 100%;
  position: relative;
}

body{
  background-color: #faf8f2 !important;
}

a{
  text-decoration: none !important;
}

.fusion-main-menu > ul > li > a{
  text-transform: uppercase;
}

.fusion-secondary-header{
  color: white;
  a{
    color: white;
  }
  .contacts{
    span.email {
      margin-right: 20px;
    }

    i {
      margin-right: 5px;
    }
  }
}

.fusion-header{
  padding: 5px 0;
}
.fusion-header .fusion-row{
  padding: 0 140px;
  background-image: url('../../images/menudesign_left.svg'), url('../../images/menudesign_right.svg');
  background-repeat: no-repeat;
  background-position: left center, right center;
}
.fusion-main-menu>ul>li > a span{
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
}
.fusion-main-menu>ul>li.current_page_item > a span {
  border-bottom: 4px solid $color-bordo;
}

body.home {
  h1 {
    font-family: 'handwrite', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    color: #daae2d;
  }
  #main{
    margin-top: -170px !important;
  }
}

main#main {
  margin-bottom: -60px !important;
  position: relative;
  overflow: hidden;
}
#sliders-container{
  position: relative;
}
#sliders-container:after{
  content:"";
  position: absolute;
  bottom: 0;
  background-image: url('../../images/slide-bottom-overlay.svg');
  background-position: center;
  height: 100px;
  width: 100%;
  background-size: cover;
}
.rev_slider_wrapper .shadow-left,
.rev_slider_wrapper .shadow-right{
  display: none;
}
.avada-skin-rev{
  border: none !important;
}

.din-text{
  font-family: 'Din Cond', sans-serif;
}

footer.mainfooter{
  background-image: url('../../images/footer_design.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 375px;
  color: white;
  position: relative;
  z-index: 1;

  .fwrapper{
    width: $pagewidth;
    max-width: $pagewidth;
    margin: 0 auto;
    height: 100%;
    position: relative;
    font-size: 0.84em;

    .footer-menu {
      position: absolute;
      right: 0;
      top: 45px;
      z-index: 10;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      ul {
        li{
          display: inline-block;
          *display: inline;
          zoom: 1;
          padding: 0 15px;

          a{
            text-transform: uppercase;
            display: block;
            padding: 5px 0px;
            font-size: 1.1em;
            color: white;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: transparent;
          }

          &.current{
            a {
              border-bottom-color: white;
            }
          }
        }
      }
    }

    .footer-content-holder{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      height: 100%;
      position: relative;
      padding: 20px 0;

      .fusion-social-networks .fusion-social-network-icon{
        background: $color-arany;
        border-radius: 15px;
        margin: 0 12px;
        padding: 6px;
        width: auto;
      }

      a, a:visited{
        color: white;
      }

      & > div.logo{
        flex-basis: 25%;
        padding-right: 25px;
      }
      & > div.contact-infos{
        flex-basis: calc(75%/2);
        .infos{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-between;
          & > div {
            line-height: 28px;
          }
          & > div.email{
            flex-basis: 100%;
            margin-bottom: 10px;
            font-size: 1.2em;
          }
        }
      }
      & > div.creator{
        flex-basis: calc(75%/2);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 3px;

        img.ref{
          height: 28px;
          position: relative;
          margin-top: -11px;
        }

        & > div {
          padding: 0 5px;
        }
      }
    }
  }
}

.des-bg {
  background-image: url('../../images/bgoverlay.svg');
  background-repeat: no-repeat !important;
  background-position: center top !important;
  background-size: cover !important;

  &.des-bg-topstart{
    background-position: center top 110px !important;
  }
}

.content-logo-holder{
  background-image: url('../../images/logo-content-backdes.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin: 10px auto;
  position: relative;

  .airtext {
    position: absolute;
    font-size: 1.4em;
    font-weight: 300;
    top: 12%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    height: 48%;
  }
}

.welcome-text{
  margin: -99px 15% 0 15% !important;
  line-height: 1.4;
  font-size: 1.2em;
}
.headdivider-holder{
  position: relative;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  .backline{
    flex: 1;
    height: 1px;
    background-color: $color-arany;
  }

  .text {
    padding: 0 110px;
    position: relative;

    &:before{
      content: "";
      left: 0;
      top: -39%;
      background-image: url('../../images/designtitle_left.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 50px;
      width: 100px;
      background-size: contain;
    }
    &:after{
      content: "";
      right: 0;
      top: -39%;
      background-image: url('../../images/designtitle_right.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 50px;
      width: 100px;
      background-size: contain;
    }
  }


  h2{
    font-family: 'handwrite', sans-serif !important;
    font-size: 2.2em !important;
    color: $color-arany !important;
    line-height: 1 !important;
    margin: 0 !important;
  }
}
body.home .home-h1{
  h1 {
    margin: 0 !important;
  }
}
.datepickerbutton-holder{
  text-align: center;
  position: relative;

  a.datepicker-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
    z-index: 10;
  }
}
.datepicker-btn{
  font-family: 'Din Comp', arial;
  font-size: 1.9em;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  padding: 15px 25px;
  border: 5px solid #dcb850;
  box-shadow: 0 7px 15px -4px #73611e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a67c00+0,ffdc73+100 */
  background: rgb(166,124,0); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(166,124,0,1) 0%, rgba(255,220,115,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(166,124,0,1) 0%,rgba(255,220,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(166,124,0,1) 0%,rgba(255,220,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a67c00', endColorstr='#ffdc73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &:hover{
    color: white;
  }
}
.news-header{
  height: 420px;
}

.fusion-secondary-header{
  color: white !important;
  a{
    color: white !important;
  }

  .contacts {
    span {
      margin-right: 15px;
      vertical-align: middle;

      i {
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }

  .fusion-alignright{
    .opens{
      float: right;
      line-height: 46px;
      margin-right: 15px;

      i {
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }
}

.news-holder-content{
  font-size: 1.2em;
  margin-top: -420px !important;
  line-height: 1.2;
  color: white;
  padding-top: 150px !important;
  font-family: 'Din Cond', arial;
  background-image: url('../../images/logo-silue.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 28%;

  p{
    margin: 5px 0 !important;
  }

  h1{
    margin: 0 0 15px 0 !important;
    color: white !important;
  }
}

.bloglist-holder{
  background: rgba(255, 255, 255, 1);
  margin: 50px auto;
  padding: 20px;
  position: relative;

  .content-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #262626;
    font-size: 0.84em;

    & > article {
      padding: 20px;
      text-align: center;
      flex-basis: calc(100% / 3);

      .image{
        position: relative;
        overflow: hidden;
        height: 290px;

        img {
          height: 100%;
          width: auto;
          max-width: initial;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        &.portrait{
          img {
            height: auto;
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .date {
        pointer-events: none;
        position: relative;
        z-index: 10;
        background-color: $color-bordo;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 0.9em;
        width: 70%;
        margin: -15px auto 0 auto;
      }

      .title{
        margin: 10px 0 5px 0;
        h4 {
          font-family: 'Din Cond', arial;
          font-size: 1.1em;
          font-weight: bold;
          margin: 0;
          a{
            display: block;
            color: black;
          }
        }
      }
      .excerpt {
        font-family: Arial;
        font-size: 0.9em;
        line-height: 1.4;
      }
      .link{
        margin-top: 10px;

        a{
          font-size: 1.2em;
        }
      }

    }
  }
  &:before,
  &:after {
    content:"";
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }
  &:before{
    left: -100px;
    background-image: url('../../images/vert_des_ele_left.svg');
  }
  &:after{
    right: -100px;
    background-image: url('../../images/vert_des_ele_right.svg');
  }
}
.szolglist-holder{
  .content-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    & > article {
      flex-basis: calc(100%/4);
      padding: 10px;
      text-align: center;

      .img {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 200px;
        position: relative;
        border: 5px solid $color-arany;
        -webkit-transition: all .4s;
        transition: all .4s;

      }
      &:hover {
        .img {
          border: 10px solid $color-bordo;
        }
      }

      .title{
        margin: 15px 0 10px 0;
        h3{
          font-family: 'Din Cond', arial;
          font-size: 1.4em;
          margin: 0 !important;

          a{
            color: #1d1c18;
          }
        }
      }

      .price {
        width: 60%;
        text-align: center;
        color: #5b584f;
        background-color: #f1ecda;
        padding: 10px;
        margin: 0 auto;
        line-height: 1;
      }
    }
  }
}
.szalag-foglalas{
  color: white;
  font-size: 1.3em;
  p{
    margin: 0;
  }
  a{
    font-size: 0.8em;
    background-color: #2d2c40;
    margin-left: 10px;
    color: white;
    padding: 12px;
  }
}

.single .fusion-sharing-box {
    margin-bottom: 0;
    margin-top: 20px;
    padding: 15px !important;
    height: auto;
    h4 {
      padding: 0 !important;
    }
}
.fusion-social-networks.boxed-icons .fusion-social-network-icon{
  margin: 0 5px;
}

.szolgaltatas-page-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 40px 0;

  & > div.left-cont{
    flex-basis: 30%;
  }
  & > div.right-cont{
    flex-basis: 70%;
    padding-left: 30px;
  }

  .title{
    margin-bottom: 20px;
    h1 {
      font-size: 2.8em !important;
      font-family: 'Din Comp', arial !important;
      color: lighten($color-bordo, 10%) !important;
      margin: 0 !important;
    }
  }

  .price {
    text-align: center;
    color: #222222;
    margin: 0 auto;
    line-height: 1.4;

    .t{
      font-size: 1.5em;
      color: lighten($color-bordo, 10%);
      font-weight: bold;
      font-family: 'Din Cond', arial;
    }
  }

  .foglalas{
    text-align: center;
    margin-top: 25px;
    a{
      background: $color-arany-light;
      border: 3px solid #efe3c0;
      font-family: 'Din Cond', arial;
      font-size: 1.2em;
      color: white;
      padding: 10px;
      margin: 10px auto;
    }
  }

  .img {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 200px;
    position: relative;
    border: 5px solid $color-arany;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 20px;
  }
}

.contact-form-holder{
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  border: 5px solid #902524;

  .flxtbl{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    & > div {
      padding: 5px;

      & > label {
        font-size: 0.8em;
        display: block;
        margin: 0 0 5px 0;
      }
    }

    & > div.name {
      order: 1;
      flex-basis: 50%;
    }
    & > div.phone {
      order: 2;
      flex-basis: 50%;
    }
    & > div.email {
      order: 3;
      flex-basis: 40%;
    }
    & > div.szolgaltatas {
      order: 4;
      flex-basis: 60%;
    }
    & > div.idopont {
      order: 5;
      flex-basis: 100%;
      text-align: center;
      padding: 10px 0;
      label {
        font-size: 1.5em;
      }
      .date{
        width: 240px;
        margin: 0 auto;
        input{
          font-size: 1.75em;
          text-align: center;
          color: orange;
          padding: 25px 15px;
        }
        .input-group-addon{
          background: white !important;
          border: 1px solid #f3e7d2;
          border-left: none;
        }
      }

      .itext{
        font-size: 0.7em;
        margin-top: 5px;
        color: #b17676;
      }
    }
    & > div.uzenet {
      order: 6;
      flex-basis: 100%;
      label {
        text-align: center;
      }
    }
    & > div.recaptcha {
      order: 7;
      flex-basis: 100%;
    }
    & > div.btns {
      order: 8;
      flex-basis: 100%;
    }

    input, select, textarea{
      border: 1px solid #f3eddc;
      background: white;
      padding: 0 15px;
      line-height: 40px;
      height: 40px;
      color: #651b1a;
      font-family: 'Din Comp', arial;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 4px;
      box-shadow: 0 2px 5px -2px #cebbb1;

      &.missing{
        border: 1px solid #ff5252;
        background: #ff5b5b1c;
      }
    }

    select {
      width: 100%;
    }

    textarea{
      width: 100%;
      height: auto;
      min-height: 150px;
      font-size: 0.9em;
      font-weight: normal;
      line-height: 1.2;
      padding: 10px;
    }

    button {
      background: $color-bordo;
      color: white;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      font-family: 'Din Cond', arial;
      cursor: pointer;
      &.in-progress{
        background: #ff6060;
      }

      &.sended {
        background: #88b51b;
      }
    }

    .accept-text{
      font-size: 0.7em;
      margin: 10px 0 0 0;
      color: $color-bordo;
    }
  }
}

.ajandekutalvany{
  font-size: 0.85em;
  line-height: 1.5;
  background: #f5e8e6;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 25px -5px #fbbbbb;
  border: 20px solid transparent;
  border-image: url(../../images/flower-ico.svg);
  border-image-repeat: initial;
  border-image-width: 8px;
  border-image-slice: 106;

  .title{
    font-size: 1.8em;
    font-family: 'Din Cond', arial;
    color: $color-bordo;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  .redi {
    margin-top: 25px;
    a{
      background: $color-bordo;
      color: white;
      border-radius: 5px;
      padding: 10px;
    }
  }
}

.ajandekutalvany-leir{
  p {
    margin: 15px 0 0 0 !important;
  }
}

h2.entry-title{
  font-size: 1.8em !important;
  font-family: 'Din Cond', arial !important;
  color: $color-arany-light !important;
  font-weight: bold !important;
}
