/* DinTextCompPro-Medium */
@font-face {
  font-family: 'Din Comp';
  src: url("../../assets/fonts/din/DinTextCompPro-Medium.eot");
  src: url("../../assets/fonts/din/DinTextCompPro-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/din/DinTextCompPro-Medium.woff") format("woff"), url("../../assets/fonts/din/DinTextCompPro-Medium.ttf") format("truetype"), url("../../assets/fonts/din/DinTextCompPro-Medium.svg#Din Comp") format("svg");
  font-style: normal;
  font-weight: 600;
}

/* DinTextCompPro-Bold */
@font-face {
  font-family: 'Din Comp';
  src: url("../../assets/fonts/din/DinTextCompPro-Bold.eot");
  src: url("../../assets/fonts/din/DinTextCompPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/din/DinTextCompPro-Bold.woff") format("woff"), url("../../assets/fonts/din/DinTextCompPro-Bold.ttf") format("truetype"), url("../../assets/fonts/din/DinTextCompPro-Bold.svg#Din Comp") format("svg");
  font-style: bold;
  font-weight: 700;
}

/* DinTextCondPro-Regular */
@font-face {
  font-family: 'Din Cond';
  src: url("../../assets/fonts/din/DinTextCondPro-Regular.eot");
  src: url("../../assets/fonts/din/DinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/din/DinTextCondPro-Regular.woff") format("woff"), url("../../assets/fonts/din/DinTextCondPro-Regular.ttf") format("truetype"), url("../../assets/fonts/din/DinTextCondPro-Regular.svg#Din Cond") format("svg");
  font-style: normal;
  font-weight: 400;
}

/* DinTextCondPro-Bold */
@font-face {
  font-family: 'Din Cond';
  src: url("../../assets/fonts/din/DinTextCondPro-Bold.eot");
  src: url("../../assets/fonts/din/DinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/din/DinTextCondPro-Bold.woff") format("woff"), url("../../assets/fonts/din/DinTextCondPro-Bold.ttf") format("truetype"), url("../../assets/fonts/din/DinTextCondPro-Bold.svg#Din Cond") format("svg");
  font-style: bold;
  font-weight: 700;
}

/* EnglischeSchreibschriftBQ-Bold */
@font-face {
  font-family: 'handwrite';
  src: url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot");
  src: url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.woff") format("woff"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.ttf") format("truetype"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.svg#Din Cond") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'handwrite';
  src: url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot");
  src: url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.woff") format("woff"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.ttf") format("truetype"), url("../../assets/fonts/englische/EnglischeSchreibschriftBQ-Bold.svg#Din Cond") format("svg");
  font-style: bold;
  font-weight: 700;
}

/* line 5, sass/style.scss */
body, html {
  height: 100%;
  position: relative;
}

/* line 10, sass/style.scss */
body {
  background-color: #faf8f2 !important;
}

/* line 14, sass/style.scss */
a {
  text-decoration: none !important;
}

/* line 18, sass/style.scss */
.fusion-main-menu > ul > li > a {
  text-transform: uppercase;
}

/* line 22, sass/style.scss */
.fusion-secondary-header {
  color: white;
}
/* line 24, sass/style.scss */
.fusion-secondary-header a {
  color: white;
}
/* line 28, sass/style.scss */
.fusion-secondary-header .contacts span.email {
  margin-right: 20px;
}
/* line 32, sass/style.scss */
.fusion-secondary-header .contacts i {
  margin-right: 5px;
}

/* line 38, sass/style.scss */
.fusion-header {
  padding: 5px 0;
}

/* line 41, sass/style.scss */
.fusion-header .fusion-row {
  padding: 0 140px;
  background-image: url("../../images/menudesign_left.svg"), url("../../images/menudesign_right.svg");
  background-repeat: no-repeat;
  background-position: left center, right center;
}

/* line 47, sass/style.scss */
.fusion-main-menu > ul > li > a span {
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
}

/* line 51, sass/style.scss */
.fusion-main-menu > ul > li.current_page_item > a span {
  border-bottom: 4px solid #651b1a;
}

/* line 56, sass/style.scss */
body.home h1 {
  font-family: 'handwrite', sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: #daae2d;
}
/* line 62, sass/style.scss */
body.home #main {
  margin-top: -170px !important;
}

/* line 67, sass/style.scss */
main#main {
  margin-bottom: -60px !important;
  position: relative;
  overflow: hidden;
}

/* line 74, sass/style.scss */
body.post-template-default #main {
  padding: 40px 0 80px 0;
}

/* line 78, sass/style.scss */
#sliders-container {
  position: relative;
}

/* line 81, sass/style.scss */
#sliders-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../../images/slide-bottom-overlay.svg");
  background-position: center;
  height: 100px;
  width: 100%;
  background-size: cover;
}

/* line 92, sass/style.scss */
.rev_slider_wrapper .shadow-left,
.rev_slider_wrapper .shadow-right {
  display: none;
}

/* line 95, sass/style.scss */
.avada-skin-rev {
  border: none !important;
}

/* line 99, sass/style.scss */
.din-text {
  font-family: 'Din Cond', sans-serif;
}

/* line 103, sass/style.scss */
footer.mainfooter {
  background-image: url("../../images/footer_design.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 375px;
  color: white;
  position: relative;
  z-index: 1;
}
/* line 113, sass/style.scss */
footer.mainfooter .fwrapper {
  width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  font-size: 0.84em;
}
/* line 121, sass/style.scss */
footer.mainfooter .fwrapper .footer-menu {
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 10;
}
/* line 127, sass/style.scss */
footer.mainfooter .fwrapper .footer-menu ul, footer.mainfooter .fwrapper .footer-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 134, sass/style.scss */
footer.mainfooter .fwrapper .footer-menu ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 15px;
}
/* line 140, sass/style.scss */
footer.mainfooter .fwrapper .footer-menu ul li a {
  text-transform: uppercase;
  display: block;
  padding: 5px 0px;
  font-size: 1.1em;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: transparent;
}
/* line 152, sass/style.scss */
footer.mainfooter .fwrapper .footer-menu ul li.current a {
  border-bottom-color: white;
}
/* line 160, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 100%;
  position: relative;
  padding: 20px 0;
}
/* line 170, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder .fusion-social-networks .fusion-social-network-icon {
  background: #a67c00;
  border-radius: 15px;
  margin: 0 12px;
  padding: 6px;
  width: auto;
}
/* line 178, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder a, footer.mainfooter .fwrapper .footer-content-holder a:visited {
  color: white;
}
/* line 182, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.logo {
  flex-basis: 25%;
  padding-right: 25px;
}
/* line 186, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos {
  flex-basis: calc(75%/2);
}
/* line 188, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
/* line 195, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div {
  line-height: 28px;
}
/* line 198, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.email {
  flex-basis: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
}
/* line 205, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.creator {
  flex-basis: calc(75%/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 3px;
}
/* line 215, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.creator img.ref {
  height: 28px;
  position: relative;
  margin-top: -11px;
}
/* line 221, sass/style.scss */
footer.mainfooter .fwrapper .footer-content-holder > div.creator > div {
  padding: 0 5px;
}

/* line 229, sass/style.scss */
.des-bg {
  background-image: url("../../images/bgoverlay.svg");
  background-repeat: no-repeat !important;
  background-position: center top !important;
  background-size: cover !important;
}
/* line 235, sass/style.scss */
.des-bg.des-bg-topstart {
  background-position: center top 110px !important;
}

/* line 240, sass/style.scss */
.content-logo-holder {
  background-image: url("../../images/logo-content-backdes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin: 10px auto;
  position: relative;
}
/* line 249, sass/style.scss */
.content-logo-holder .airtext {
  position: absolute;
  font-size: 1.4em;
  font-weight: 300;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 259, sass/style.scss */
.content-logo-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 48%;
}

/* line 269, sass/style.scss */
.welcome-text {
  margin: -99px 15% 0 15% !important;
  line-height: 1.4;
  font-size: 1.2em;
}

/* line 274, sass/style.scss */
.headdivider-holder {
  position: relative;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
/* line 283, sass/style.scss */
.headdivider-holder .backline {
  flex: 1;
  height: 1px;
  background-color: #a67c00;
}
/* line 289, sass/style.scss */
.headdivider-holder .text {
  padding: 0 110px;
  position: relative;
}
/* line 293, sass/style.scss */
.headdivider-holder .text:before {
  content: "";
  left: 0;
  top: -39%;
  background-image: url("../../images/designtitle_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 50px;
  width: 100px;
  background-size: contain;
}
/* line 305, sass/style.scss */
.headdivider-holder .text:after {
  content: "";
  right: 0;
  top: -39%;
  background-image: url("../../images/designtitle_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 50px;
  width: 100px;
  background-size: contain;
}
/* line 320, sass/style.scss */
.headdivider-holder h2 {
  font-family: 'handwrite', sans-serif !important;
  font-size: 2.2em !important;
  color: #a67c00 !important;
  line-height: 1 !important;
  margin: 0 !important;
}

/* line 329, sass/style.scss */
body.home .home-h1 h1 {
  margin: 0 !important;
}

/* line 333, sass/style.scss */
.datepickerbutton-holder {
  text-align: center;
  position: relative;
}
/* line 337, sass/style.scss */
.datepickerbutton-holder a.datepicker-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}

/* line 345, sass/style.scss */
.datepicker-btn {
  font-family: 'Din Comp', arial;
  font-size: 1.9em;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  padding: 15px 25px;
  border: 5px solid #dcb850;
  box-shadow: 0 7px 15px -4px #73611e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a67c00+0,ffdc73+100 */
  background: #a67c00;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #a67c00 0%, #ffdc73 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #a67c00 0%, #ffdc73 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #a67c00 0%, #ffdc73 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a67c00', endColorstr='#ffdc73',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 361, sass/style.scss */
.datepicker-btn:hover {
  color: white;
}

/* line 365, sass/style.scss */
.news-header {
  height: 420px;
}

/* line 369, sass/style.scss */
.fusion-secondary-header {
  color: white !important;
}
/* line 371, sass/style.scss */
.fusion-secondary-header a {
  color: white !important;
}
/* line 376, sass/style.scss */
.fusion-secondary-header .contacts span {
  margin-right: 15px;
  vertical-align: middle;
}
/* line 380, sass/style.scss */
.fusion-secondary-header .contacts span i {
  margin-right: 5px;
  font-size: 14px;
}
/* line 388, sass/style.scss */
.fusion-secondary-header .fusion-alignright .opens {
  float: right;
  line-height: 46px;
  margin-right: 15px;
}
/* line 393, sass/style.scss */
.fusion-secondary-header .fusion-alignright .opens i {
  margin-right: 5px;
  font-size: 14px;
}

/* line 401, sass/style.scss */
.news-holder-content {
  font-size: 1.2em;
  margin-top: -420px !important;
  line-height: 1.2;
  color: white;
  padding-top: 150px !important;
  font-family: 'Din Cond', arial;
  background-image: url("../../images/logo-silue.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 28%;
}
/* line 413, sass/style.scss */
.news-holder-content p {
  margin: 5px 0 !important;
}
/* line 417, sass/style.scss */
.news-holder-content h1 {
  margin: 0 0 15px 0 !important;
  color: white !important;
}

/* line 423, sass/style.scss */
.bloglist-holder {
  background: white;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}
/* line 429, sass/style.scss */
.bloglist-holder .content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #262626;
  font-size: 0.84em;
}
/* line 438, sass/style.scss */
.bloglist-holder .content-holder > article {
  padding: 20px;
  text-align: center;
  flex-basis: calc(100% / 3);
}
/* line 443, sass/style.scss */
.bloglist-holder .content-holder > article .image {
  position: relative;
  overflow: hidden;
  height: 290px;
}
/* line 448, sass/style.scss */
.bloglist-holder .content-holder > article .image img {
  height: 100%;
  width: auto;
  max-width: initial;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 460, sass/style.scss */
.bloglist-holder .content-holder > article .image.portrait img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
/* line 468, sass/style.scss */
.bloglist-holder .content-holder > article .date {
  pointer-events: none;
  position: relative;
  z-index: 10;
  background-color: #651b1a;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  width: 70%;
  margin: -15px auto 0 auto;
}
/* line 481, sass/style.scss */
.bloglist-holder .content-holder > article .title {
  margin: 10px 0 5px 0;
}
/* line 483, sass/style.scss */
.bloglist-holder .content-holder > article .title h4 {
  font-family: 'Din Cond', arial;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}
/* line 488, sass/style.scss */
.bloglist-holder .content-holder > article .title h4 a {
  display: block;
  color: black;
}
/* line 494, sass/style.scss */
.bloglist-holder .content-holder > article .excerpt {
  font-family: Arial;
  font-size: 0.9em;
  line-height: 1.4;
}
/* line 499, sass/style.scss */
.bloglist-holder .content-holder > article .link {
  margin-top: 10px;
}
/* line 502, sass/style.scss */
.bloglist-holder .content-holder > article .link a {
  font-size: 1.2em;
}
/* line 510, sass/style.scss */
.bloglist-holder:before, .bloglist-holder:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
/* line 521, sass/style.scss */
.bloglist-holder:before {
  left: -100px;
  background-image: url("../../images/vert_des_ele_left.svg");
}
/* line 525, sass/style.scss */
.bloglist-holder:after {
  right: -100px;
  background-image: url("../../images/vert_des_ele_right.svg");
}

/* line 531, sass/style.scss */
.szolglist-holder .content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 537, sass/style.scss */
.szolglist-holder .content-holder > article {
  flex-basis: calc(100%/4);
  padding: 10px;
  text-align: center;
}
/* line 542, sass/style.scss */
.szolglist-holder .content-holder > article .img {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 200px;
  position: relative;
  border: 5px solid #a67c00;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 554, sass/style.scss */
.szolglist-holder .content-holder > article:hover .img {
  border: 10px solid #651b1a;
}
/* line 559, sass/style.scss */
.szolglist-holder .content-holder > article .title {
  margin: 15px 0 10px 0;
}
/* line 561, sass/style.scss */
.szolglist-holder .content-holder > article .title h3 {
  font-family: 'Din Cond', arial;
  font-size: 1.4em;
  margin: 0 !important;
}
/* line 566, sass/style.scss */
.szolglist-holder .content-holder > article .title h3 a {
  color: #1d1c18;
}
/* line 572, sass/style.scss */
.szolglist-holder .content-holder > article .price {
  width: 60%;
  text-align: center;
  color: #5b584f;
  background-color: #f1ecda;
  padding: 10px;
  margin: 0 auto;
  line-height: 1;
}

/* line 584, sass/style.scss */
.szalag-foglalas {
  color: white;
  font-size: 1.3em;
}
/* line 587, sass/style.scss */
.szalag-foglalas p {
  margin: 0;
}
/* line 590, sass/style.scss */
.szalag-foglalas a {
  font-size: 0.8em;
  background-color: #2d2c40;
  margin-left: 10px;
  color: white;
  padding: 12px;
}

/* line 599, sass/style.scss */
.single .fusion-sharing-box {
  margin-bottom: 0;
  margin-top: 20px;
  padding: 15px !important;
  height: auto;
}
/* line 604, sass/style.scss */
.single .fusion-sharing-box h4 {
  padding: 0 !important;
}

/* line 608, sass/style.scss */
.fusion-social-networks.boxed-icons .fusion-social-network-icon {
  margin: 0 5px;
}

/* line 612, sass/style.scss */
.szolgaltatas-page-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 40px 0;
}
/* line 620, sass/style.scss */
.szolgaltatas-page-holder > div.left-cont {
  flex-basis: 30%;
}
/* line 623, sass/style.scss */
.szolgaltatas-page-holder > div.right-cont {
  flex-basis: 70%;
  padding-left: 30px;
}
/* line 628, sass/style.scss */
.szolgaltatas-page-holder .title {
  margin-bottom: 20px;
}
/* line 630, sass/style.scss */
.szolgaltatas-page-holder .title h1 {
  font-size: 2.8em !important;
  font-family: 'Din Comp', arial !important;
  color: #8e2624 !important;
  margin: 0 !important;
}
/* line 636, sass/style.scss */
.szolgaltatas-page-holder .title .pagi {
  margin: 10px 0 0 0;
  color: #ccc5ae;
}
/* line 639, sass/style.scss */
.szolgaltatas-page-holder .title .pagi .sep {
  margin: 0 10px;
}
/* line 642, sass/style.scss */
.szolgaltatas-page-holder .title .pagi a {
  color: #e9b31a;
}
/* line 648, sass/style.scss */
.szolgaltatas-page-holder .price {
  text-align: center;
  color: #222222;
  margin: 0 auto;
  line-height: 1.4;
}
/* line 654, sass/style.scss */
.szolgaltatas-page-holder .price .t {
  font-size: 1.5em;
  color: #8e2624;
  font-weight: bold;
  font-family: 'Din Cond', arial;
}
/* line 662, sass/style.scss */
.szolgaltatas-page-holder .foglalas {
  text-align: center;
  margin-top: 25px;
}
/* line 665, sass/style.scss */
.szolgaltatas-page-holder .foglalas a {
  background: #ffbf00;
  border: 3px solid #efe3c0;
  font-family: 'Din Cond', arial;
  font-size: 1.2em;
  color: white;
  padding: 10px;
  margin: 10px auto;
}
/* line 676, sass/style.scss */
.szolgaltatas-page-holder .img {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 200px;
  position: relative;
  border: 5px solid #a67c00;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-bottom: 20px;
}

/* line 689, sass/style.scss */
.contact-form-holder {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  border: 5px solid #902524;
}
/* line 697, sass/style.scss */
.contact-form-holder .flxtbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 704, sass/style.scss */
.contact-form-holder .flxtbl > div {
  padding: 5px;
}
/* line 707, sass/style.scss */
.contact-form-holder .flxtbl > div > label {
  font-size: 0.8em;
  display: block;
  margin: 0 0 5px 0;
}
/* line 714, sass/style.scss */
.contact-form-holder .flxtbl > div.name {
  order: 1;
  flex-basis: 50%;
}
/* line 718, sass/style.scss */
.contact-form-holder .flxtbl > div.phone {
  order: 2;
  flex-basis: 50%;
}
/* line 722, sass/style.scss */
.contact-form-holder .flxtbl > div.email {
  order: 3;
  flex-basis: 40%;
}
/* line 726, sass/style.scss */
.contact-form-holder .flxtbl > div.szolgaltatas {
  order: 4;
  flex-basis: 60%;
}
/* line 730, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont {
  order: 5;
  flex-basis: 100%;
  text-align: center;
  padding: 10px 0;
}
/* line 735, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont label {
  font-size: 1.5em;
}
/* line 738, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont .date {
  width: 240px;
  margin: 0 auto;
}
/* line 741, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont .date input {
  font-size: 1.75em;
  text-align: center;
  color: orange;
  padding: 25px 15px;
}
/* line 747, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont .date .input-group-addon {
  background: white !important;
  border: 1px solid #f3e7d2;
  border-left: none;
}
/* line 754, sass/style.scss */
.contact-form-holder .flxtbl > div.idopont .itext {
  font-size: 0.7em;
  margin-top: 5px;
  color: #b17676;
}
/* line 760, sass/style.scss */
.contact-form-holder .flxtbl > div.uzenet {
  order: 6;
  flex-basis: 100%;
}
/* line 763, sass/style.scss */
.contact-form-holder .flxtbl > div.uzenet label {
  text-align: center;
}
/* line 767, sass/style.scss */
.contact-form-holder .flxtbl > div.recaptcha {
  order: 7;
  flex-basis: 100%;
}
/* line 771, sass/style.scss */
.contact-form-holder .flxtbl > div.btns {
  order: 8;
  flex-basis: 100%;
}
/* line 776, sass/style.scss */
.contact-form-holder .flxtbl input, .contact-form-holder .flxtbl select, .contact-form-holder .flxtbl textarea {
  border: 1px solid #f3eddc;
  background: white;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  color: #651b1a;
  font-family: 'Din Comp', arial;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 5px -2px #cebbb1;
}
/* line 789, sass/style.scss */
.contact-form-holder .flxtbl input.missing, .contact-form-holder .flxtbl select.missing, .contact-form-holder .flxtbl textarea.missing {
  border: 1px solid #ff5252;
  background: #ff5b5b1c;
}
/* line 795, sass/style.scss */
.contact-form-holder .flxtbl select {
  width: 100%;
}
/* line 799, sass/style.scss */
.contact-form-holder .flxtbl textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.2;
  padding: 10px;
}
/* line 809, sass/style.scss */
.contact-form-holder .flxtbl button {
  background: #651b1a;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Din Cond', arial;
  cursor: pointer;
}
/* line 818, sass/style.scss */
.contact-form-holder .flxtbl button.in-progress {
  background: #ff6060;
}
/* line 822, sass/style.scss */
.contact-form-holder .flxtbl button.sended {
  background: #88b51b;
}
/* line 827, sass/style.scss */
.contact-form-holder .flxtbl .accept-text {
  font-size: 0.7em;
  margin: 10px 0 0 0;
  color: #651b1a;
}

/* line 835, sass/style.scss */
.ajandekutalvany {
  font-size: 0.85em;
  line-height: 1.5;
  background: #f5e8e6;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 25px -5px #fbbbbb;
  border: 20px solid transparent;
  border-image: url(../../images/flower-ico.svg);
  border-image-repeat: initial;
  border-image-width: 8px;
  border-image-slice: 106;
}
/* line 848, sass/style.scss */
.ajandekutalvany .title {
  font-size: 1.8em;
  font-family: 'Din Cond', arial;
  color: #651b1a;
  font-weight: bold;
  margin: 0 0 10px 0;
}
/* line 856, sass/style.scss */
.ajandekutalvany .redi {
  margin-top: 25px;
}
/* line 858, sass/style.scss */
.ajandekutalvany .redi a {
  background: #651b1a;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

/* line 868, sass/style.scss */
.ajandekutalvany-leir p {
  margin: 15px 0 0 0 !important;
}

/* line 873, sass/style.scss */
h2.entry-title {
  font-size: 1.8em !important;
  font-family: 'Din Cond', arial !important;
  color: #ffbf00 !important;
  font-weight: bold !important;
}

/* line 880, sass/style.scss */
.show-on-mobile {
  display: none;
}

/* line 883, sass/style.scss */
.hide-on-mobile {
  display: block;
}

@media screen and (max-width: 1050px) {
  /* line 888, sass/style.scss */
  footer.mainfooter .fwrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
  }

  /* line 893, sass/style.scss */
  body.home #main {
    margin-top: -160px !important;
  }

  /* line 896, sass/style.scss */
  footer.mainfooter .fwrapper .footer-menu ul li {
    padding: 0 10px;
  }

  /* line 899, sass/style.scss */
  footer.mainfooter .fwrapper .footer-menu {
    right: 60px;
  }

  /* line 902, sass/style.scss */
  .bloglist-holder {
    width: 90%;
  }

  /* line 905, sass/style.scss */
  .ajandekutalvany {
    padding: 10px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 910, sass/style.scss */
  .welcome-text {
    margin: -80px 0 0 0 !important;
    padding: 0 25px;
  }

  /* line 914, sass/style.scss */
  footer.mainfooter {
    background-image: none;
    background-color: #651b1a;
  }

  /* line 918, sass/style.scss */
  .fusion-mobile-menu-design-modern .fusion-secondary-header {
    padding: 25px !important;
    font-size: 1.15em;
  }

  /* line 922, sass/style.scss */
  body.fusion-body .fusion-secondary-header .fusion-alignright .fusion-social-links-header .boxed-icons {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 926, sass/style.scss */
  .fusion-secondary-header .contacts span i {
    font-size: 16px;
  }

  /* line 929, sass/style.scss */
  .fusion-secondary-header .fusion-alignright .opens {
    line-height: 1.5;
    margin: 0;
    font-size: 1.2em;
  }
  /* line 934, sass/style.scss */
  .fusion-secondary-header .fusion-alignright .opens i {
    font-size: 20px;
  }

  /* line 938, sass/style.scss */
  .szolglist-holder .content-holder > article {
    flex-basis: calc(100%/2);
  }

  /* line 941, sass/style.scss */
  #side-header .fusion-logo, .fusion-header {
    padding: 0px !important;
  }

  /* line 944, sass/style.scss */
  #side-header .fusion-logo, .fusion-header .fusion-logo {
    float: none;
    text-align: center;
    padding: 10px 0;
  }

  /* line 949, sass/style.scss */
  .fusion-mobile-nav-holder {
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    top: 100%;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 959, sass/style.scss */
  .fusion-mobile-menu-icons {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25%;
  }
  /* line 966, sass/style.scss */
  .fusion-mobile-menu-icons a:before {
    color: #651b1a;
    font-size: 40px;
  }

  /* line 971, sass/style.scss */
  .szolglist-holder .content-holder > article .title h3 {
    font-size: 3.3vw;
  }

  /* line 974, sass/style.scss */
  .szolglist-holder .content-holder > article .price {
    font-size: 2.4vw;
  }

  /* line 977, sass/style.scss */
  footer.mainfooter .fwrapper .footer-menu {
    position: relative;
    right: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 983, sass/style.scss */
  footer.mainfooter {
    height: auto !important;
    z-index: 100;
  }

  /* line 987, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.logo {
    flex-basis: 100%;
    text-align: center;
    padding: 25px 0;
  }
  /* line 991, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.logo img {
    max-width: 50%;
    width: 50%;
  }

  /* line 996, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos {
    flex-basis: 70%;
    margin: 0 auto;
  }

  /* line 1001, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.email,
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.phone {
    flex-basis: 50%;
    font-size: 2.5vw;
  }

  /* line 1005, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.social {
    flex-basis: 100%;
    text-align: center;
  }

  /* line 1009, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.creator {
    margin-top: 25px;
    flex-basis: 100%;
    justify-content: center;
  }

  /* line 1014, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos {
    align-items: flex-start;
  }

  /* line 1017, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos * {
    text-align: center;
  }

  /* line 1020, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.copy {
    flex-basis: 100%;
    text-align: center;
    font-size: 2.2vw;
  }

  /* line 1025, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder .fusion-social-networks .fusion-social-network-icon {
    font-size: 20px;
    padding: 12px;
    border-radius: 30px;
  }

  /* line 1030, sass/style.scss */
  footer.mainfooter .fwrapper .footer-menu ul li a {
    font-size: 2.3vw;
  }

  /* line 1033, sass/style.scss */
  body.home h1 {
    font-size: 8vw !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 1039, sass/style.scss */
  .show-on-mobile {
    display: block;
  }

  /* line 1042, sass/style.scss */
  .hide-on-mobile {
    display: none;
  }

  /* line 1045, sass/style.scss */
  .content-logo-holder .airtext {
    top: 15%;
  }

  /* line 1048, sass/style.scss */
  .szolgaltatas-page-holder .title {
    text-align: center;
  }

  /* line 1051, sass/style.scss */
  .datepickerbutton-holder a.datepicker-btn {
    font-size: 5vw;
    width: 80%;
  }

  /* line 1055, sass/style.scss */
  .fusion-mobile-menu-icons {
    right: 25px;
  }

  /* line 1059, sass/style.scss */
  .headdivider-holder .text:before,
  .headdivider-holder .text:after {
    width: 30px;
  }

  /* line 1062, sass/style.scss */
  .headdivider-holder .text {
    padding: 0 35px;
  }

  /* line 1065, sass/style.scss */
  body.home #main {
    padding: 0 10px !important;
    margin-top: -110px !important;
  }

  /* line 1069, sass/style.scss */
  .welcome-text {
    padding: 0 5px;
  }

  /* line 1072, sass/style.scss */
  .fusion-secondary-header .contacts {
    margin-bottom: 10px;
  }

  /* line 1075, sass/style.scss */
  .fusion-secondary-header .contacts span {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  /* line 1080, sass/style.scss */
  .fusion-secondary-header .contacts span.email {
    display: none;
  }
  /* line 1083, sass/style.scss */
  .fusion-secondary-header .contacts span.phone {
    font-size: 16px;
  }
  /* line 1086, sass/style.scss */
  .fusion-secondary-header .contacts span.address {
    display: none;
  }

  /* line 1090, sass/style.scss */
  .fusion-secondary-header .fusion-alignright .opens {
    font-size: 4vw;
  }
  /* line 1092, sass/style.scss */
  .fusion-secondary-header .fusion-alignright .opens i {
    display: none;
  }

  /* line 1096, sass/style.scss */
  .fusion-mobile-menu-design-modern .fusion-secondary-header {
    padding: 10px !important;
  }

  /* line 1099, sass/style.scss */
  .fusion-mobile-menu-design-modern .fusion-social-links-header {
    margin: 0 0 10px 0;
  }

  /* line 1102, sass/style.scss */
  .szolglist-holder .content-holder > article .title h3 {
    font-size: 4.2vw;
    line-height: 1;
    margin-top: 15px !important;
  }

  /* line 1107, sass/style.scss */
  .szolglist-holder .content-holder > article .price {
    font-size: 3.2vw;
    width: 80%;
  }

  /* line 1111, sass/style.scss */
  footer.mainfooter .fwrapper {
    padding: 0 !important;
  }

  /* line 1114, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.email, footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.phone {
    font-size: 3.2vw;
  }

  /* line 1117, sass/style.scss */
  .news-holder-content {
    background-size: 70%;
  }

  /* line 1120, sass/style.scss */
  .bloglist-holder .content-holder > article {
    flex-basis: 100%;
  }

  /* line 1123, sass/style.scss */
  .bloglist-holder:before, .bloglist-holder:after {
    height: 400px;
  }

  /* line 1126, sass/style.scss */
  .bloglist-holder .content-holder > article .title {
    margin: 10px 0 !important;
  }
  /* line 1128, sass/style.scss */
  .bloglist-holder .content-holder > article .title h4 {
    font-size: 5.5vw !important;
  }

  /* line 1132, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.email, footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.phone {
    flex-basis: 100%;
    font-size: 5vw;
    margin: 10px 0;
  }

  /* line 1137, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.contact-infos .infos > div.copy {
    font-size: 4vw;
    margin-top: 40px;
  }

  /* line 1141, sass/style.scss */
  footer.mainfooter .fwrapper .footer-content-holder > div.creator {
    font-size: 3vw;
  }

  /* line 1144, sass/style.scss */
  .contact-form-holder {
    width: 100%;
    padding: 10px;
  }

  /* line 1148, sass/style.scss */
  .contact-form-holder .flxtbl > div {
    flex-basis: 100% !important;
  }

  /* line 1151, sass/style.scss */
  .contact-form-holder .flxtbl > div.idopont label {
    font-size: 4vw;
    line-height: 1;
    margin: 10px 0;
  }

  /* line 1156, sass/style.scss */
  .contact-form-holder .flxtbl > div.recaptcha iframe {
    width: 100% !important;
  }

  /* line 1160, sass/style.scss */
  .szolgaltatas-page-holder > div.left-cont,
  .szolgaltatas-page-holder > div.right-cont {
    flex-basis: 100%;
  }

  /* line 1163, sass/style.scss */
  .szolgaltatas-page-holder > div.right-cont {
    padding: 40px 0 0 0 !important;
  }

  /* line 1166, sass/style.scss */
  .news-holder-content {
    padding: 15px;
  }
  /* line 1169, sass/style.scss */
  .news-holder-content p {
    padding: 0 10px;
  }
}
